<article (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" class="product-card">
  <div [ngClass]="isHovered ? 'detailed':''" class="image-wrapper">
    <img src="{{productData.thumbnail}}" alt="{{productData.title}}">
  </div>

  <div class="text-wrapper">
    <h3>{{productData.title}}</h3>
    <p>{{productData.subtitle}}</p>
    <ul>
      <li *ngFor="let bullet of productData.bullets">{{bullet}}</li>
    </ul>

    <div class="button-wrapper">
      <a routerLink="{{productData.route}}">More</a>
    </div>
  </div>
</article>
