div#overlay {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.85);
  z-index: 1000;
}

div#overlay div.background {
  background-color: var(--color-white);
  width: 600px;
  /*height: 300px;*/
  top: 25vh;
  left: 50vw;
  position: absolute;
  transform: translateX(-50%);
  filter: drop-shadow(var(--element-shadow));
  border-radius: 10px;
}

div#overlay div.background h2 {
  text-align: center;
  margin-top: 16px;
}

div#overlay div.background input {
  display: block;
  margin: 16px auto 0;
  width: 300px;
  border: 1px solid var(--color-dark-gray);
  border-radius: 5px;
}

div#overlay div.background div.buttons-wrapper{
  display: flex;
  margin: 32px auto 32px;
  width: 300px;
  justify-content: space-between;
}

button.button {
  background-color: var(--color-red);
  color: var(--color-white);
  width: 120px;
  height: 32px;
  line-height: 20px;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  border: none;
}

button.button:hover{
  background-color: var(--color-dark-red);
  cursor: pointer;
}

div.message {
  width: 300px;
  margin: 8px auto;
  padding: 4px 0;
  text-align: center;
  background-color: var(--color-pink);
  border-radius: 5px;
}

div.invalid {
  color: var(--color-white);
  background-color: var(--color-pink);
}
