div#content {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  padding: 48px;
  gap: 64px;
  min-height: calc(100vh - 250px);
}

div.image-wrapper {
  height: 500px;
  flex-grow: 1;
  min-width: 400px;
  min-height: 500px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: drop-shadow(var(--element-shadow));
}

div.text h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

div.text p {
  color: var(--color-dark-gray);
  margin-top: 16px;
}


