<header>
  <div id="content-container">
    <div id="logo-container">
      <img src="/assets/common/cyberdyne%20logo%20-%20white.png" alt="cyberdyne logo">
      <div>
        <p>cyberdyne systems</p>
      </div>
    </div>
    <nav>
      <ul role="list">
        <li>
          <a href="#">products</a>
        </li>
        <li>
          <a href="#">services</a>
        </li>
        <li>
          <a href="#">company</a>
        </li>
        <li>
          <a href="#">support</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
