<header>
  <div id="content-container">
    <a id="logo-container" routerLink="home" routerLinkActive="page">
      <img src="/assets/common/cyberdyne%20logo%20-%20white.png" alt="cyberdyne logo">
      <div>
        <p>cyberdyne systems</p>
      </div>
    </a>
    <nav>
      <ul role="list">
        <li>
          <a routerLink="products" routerLinkActive="active">products</a>
        </li>
        <li>
          <a routerLink="services" routerLinkActive="active">services</a>
        </li>
        <li>
          <a routerLink="company" routerLinkActive="active">company</a>
        </li>
        <li>
          <a routerLink="support" routerLinkActive="active">support</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
