<app-background></app-background>
<div class="content">
  <h2>Current series</h2>
  <section  class="models-lineup">
    <article>
      <img src="assets/products/t800-thumb.jpg" alt="picture of T-800">
      <div class="text">
        <h3>T-800</h3>
        <a routerLink="/products/details/t800">More</a>
      </div>
    </article>

    <article>
      <img src="assets/products/t800-thumb.jpg" alt="picture of T-800">
      <div class="text">
        <h3>T-800</h3>
        <a routerLink="/products/details/t800">More</a>
      </div>
    </article>

    <article>
      <img src="assets/products/t800-thumb.jpg" alt="picture of T-800">
      <div class="text">
        <h3>T-800</h3>
        <a routerLink="/products/details/t800">More</a>
      </div>
    </article>
  </section>

  <h2>Deprecated series</h2>
  <section  class="models-lineup">
    <article>
      <img class="deprecated" src="assets/products/t800-thumb.jpg" alt="picture of T-800">
      <div class="text">
        <h3>T-800</h3>
        <a routerLink="/products/details/t800">More</a>
      </div>
    </article>
    <article>
      <img class="deprecated" src="assets/products/t800-thumb.jpg" alt="picture of T-800">
      <div class="text">
        <h3>T-800</h3>
        <a routerLink="/products/details/t800">More</a>
      </div>
    </article>
    <article>
      <img class="deprecated" src="assets/products/t800-thumb.jpg" alt="picture of T-800">
      <div class="text">
        <h3>T-800</h3>
        <a routerLink="/products/details/t800">More</a>
      </div>
    </article>
    <article>
      <img class="deprecated" src="assets/products/t800-thumb.jpg" alt="picture of T-800">
      <div class="text">
        <h3>T-800</h3>
        <a routerLink="/products/details/t800">More</a>
      </div>
    </article>
  </section>
</div>
