<footer>
  <div id="content">
    <div id="text-container">
      <div>
        <div class="info">
          <p class="heading">Address</p>
          <div class="text">
            <p>Cyber Dynamic Systems Inc.</p>
            <p>18144 El Camino Real</p>
            <p>Sunnyvale, California</p>
            <p>United States of America</p>
          </div>
        </div>

        <div class="info">
          <p class="heading">Contact us</p>
          <div class="text">
            <p>info@cyberdyne.com</p>
            <p>sales@cyberdyne.com</p>
            <p>support@cyberdyne.com</p>
            <p>310-532-3670</p>
          </div>
        </div>
      </div>

      <div>
        <div class="info">
          <p class="heading">Follow us</p>
          <div class="text">
            <p><a href="https://www.linkedin.com/company/cyberdyne-systems-corporation/about/" target="_blank">Linkedin</a></p>
            <p><a href="https://twitter.com/CyberdynePR" target="_blank">Twitter</a></p>
          </div>
        </div>

        <div class="info">
          <p class="heading">Legal</p>
          <div class="text">
            <p><a routerLink="terms-of-service">Terms of service</a></p>
            <p><a routerLink="privacy-policy">Privacy policy</a></p>
          </div>
        </div>
      </div>
    </div>
    <div id="line-container">
      <div class="separator-line"></div>
      <div class="separator-line"></div>
    </div>
    <div id="logo-container">
      <img src="assets/common/cyberdyne%20logo%20-%20white.png" alt="cyberdyne logo">
    </div>
    <p>&copy; 2022 Cyber Dynamic Systems Inc. All rights reserved. Made for Angular course at SoftUni</p>
  </div>
</footer>
