<app-spinner-overlay *ngIf="isBusy"></app-spinner-overlay>

<div id="content">
  <ng-container *ngIf="!hasRequested">
    <h2>Request support</h2>
    <div class="form-wrapper">
      <!--    <form action="" [formGroup]="passwordResetForm" (submit)="onSubmit()">-->
      <form action="" [formGroup]="requestForm">
        <div>
          <label for="model">Enter model number (e.g. T-800) (required)</label>
          <input type="text" name="model" id="model" formControlName="model">
          <ng-container *ngIf="
          requestForm.controls.model.errors?.['required']
          && requestForm.controls.model.touched">
            <div class="invalid">
              Model number is required.
            </div>
          </ng-container>

          <label for="serial">Enter serial number in format ABCDE-123456-XYZ (required)</label>
          <input type="text" name="serial" id="serial" formControlName="serial">
          <ng-container *ngIf="
          requestForm.controls.serial.touched
          && requestForm.controls.serial.errors?.['required']">
            <div class="invalid">
              Serial number is required.
            </div>
          </ng-container>
          <ng-container *ngIf="
          requestForm.controls.serial.touched
          && requestForm.controls.serial.errors?.['serialNumber']">
            <div class="invalid">
              Serial number is not in the required format.
            </div>
          </ng-container>
          <ng-container *ngIf="
          requestForm.controls.serial.touched
          && requestForm.controls.serial.errors?.['exactLength']">
            <div class="invalid">
              Serial number should be exactly 16 symbols in length.
            </div>
          </ng-container>

          <label for="description">Enter short description of the problem (required)</label>
          <textarea type="text" class="input-description" name="description" id="description"
                    formControlName="description"></textarea>
          <ng-container *ngIf="
          requestForm.controls.description.touched
          && requestForm.controls.description.errors?.['minlength']">
            <div class="invalid">
              The description must be at least 10 characters.
            </div>
          </ng-container>

          <div class="upload-file-section-wrapper">
            <label>Please attach the latest CPU and activity log if available</label>
            <div class="file-wrapper">
              <p [ngClass]="{'underline':shouldUnderline}">{{logFile | filename}}</p>
              <label class="upload-file" for="log">
                <div>Choose file</div>
              </label>
              <input type="file"
                     id="log"
                     formControlName="log"
                     accept="">
            </div>
          </div>
        </div>

        <button class="request-button"
                [disabled]="false"
                [ngClass]="{'disabled':false}"
                (click)="onRequest()">
          Request
        </button>
      </form>
    </div>
  </ng-container>

  <ng-container *ngIf="hasRequested">
    <h2>Order parts</h2>
    <p>Order received successfully! You can check the status in the <strong>"My orders and requests"</strong> panel.</p>
  </ng-container>

  <ng-container *ngIf="hasRequested && !isBusy">
    <h2>Error!</h2>
    <p>Error occurred while receiving your order. Please try again.</p>
  </ng-container>

</div>

