<app-background></app-background>
<div class="content">
  <article class="service">
    <div class="service-wrapper">
      <img src="../../../assets/services/manufacturing.jpg" alt="factory picture">
      <div class="service-text">
        <h2>Manufacturing</h2>
        <p>We are transforming scientific research as well as everyday life, from communications to transportation to
          health care and more.</p>
      </div>
    </div>
  </article>

  <article class="service">
    <div class="service-wrapper">
      <img src="../../../assets/services/biotech.png" alt="laboratory picture">
      <div class="service-text">
        <h2>Tissue attachment and healing</h2>
        <p>Our latest achievements in bio-technology allow us to create cybernetic organisms with living tissue over
          metal endoskeleton.</p>
      </div>
    </div>
  </article>

  <article class="service">
    <div class="service-wrapper">
      <img src="../../../assets/services/spares.png" alt="spare parts">
      <div class="service-text">
        <h2>Spare parts supply</h2>
        <p>A timely and reliable source of spare parts is critical in ensuring your equipment consistently operates at
          peak efficiency. We’ll help you overcome challenges with obsolete parts, part failures, and damaged units.</p>
      </div>
    </div>
  </article>

  <article class="service">
    <div class="service-wrapper">
      <img src="../../../assets/services/repair.jpg" alt="unit being repaired">
      <div class="service-text">
        <h2>Repair services</h2>
        <p>Cyberdyne restores your equipment to original functionality and specifications. Expect full compliance to
          diagnostic procedures, firmware upgrades, and service notes. Cyberdyne
          goes beyond repair services to ensure you get the maximum out of your assets.</p>
      </div>
    </div>
  </article>

  <article class="service">
    <div class="service-wrapper">
      <img src="../../../assets/services/maintenance.png" alt="unit maintenance">
      <div class="service-text">
        <h2>Maintenance</h2>
        <p>Cyberdyne supports an extensive group of legacy instruments with custom repair and calibration services.
          Affordably upgrade or migrate to new units, extend the life of legacy equipment, and seamlessly transition to
          the latest technology.</p>
      </div>
    </div>
  </article>
</div>
