<section id="hero">
<img src="../../../assets/home/hero.jpg" alt="background">
<h1>we are the future</h1>
</section>


<section id="content">
  <div id="technologies-wrapper">
    <article class="technology">
      <div class="technology-wrapper">
        <img src="../../../assets/home/tech1.jpg" alt="technology picture">
        <div>
          <h2>Advanced AI research</h2>
          <p>We are transforming scientific research as well as everyday life, from communications to
            transportation to health care and more.</p>
        </div>
      </div>
    </article>

    <article class="technology">
      <div class="technology-wrapper">
        <img src="../../../assets/home/tech2.jpg" alt="technology picture">
        <div>
          <h2>Almost human</h2>
          <p>Our latest achievements in biotechnology allow us to create cybernetic organisms with living
            tissue
            over metal endoskeleton.</p>
        </div>
      </div>
    </article>

    <article class="technology">
      <div class="technology-wrapper">
        <img src="../../../assets/home/tech3.jpg" alt="technology picture">
        <div>
          <h2>State of art laboratories</h2>
          <p>Specifically designed to allow our specialists to perform hands-on procedures and reviews, the
            laboratories are located on our 16-acre campus next to the headquarters building. Everything is
            secured by the latest technology in the military field.</p>
        </div>
      </div>
    </article>
  </div>
</section>
