<app-background></app-background>
<div id="content">
  <section class="intro">
    <h1>cyberdyne systems</h1>
    <p>Cyber Dynamics Systems initially began as a manufacturing corporation at 18144 El Camino Real, Sunnyvale,
      California. Founded in the early 1980s, its products were computers and processors, as well as some smaller parts
      producer for larger manufacturers of high tech equipment. As of 1984, the small company owned a factory.</p>
  </section>

  <section class="stats">
    <div class="divider"></div>
    <div class="stats-wrapper">
      <div class="stat-container">
        <h2>32</h2>
        <p>Facilities around the globe</p>
      </div>

      <div class="stat-container">
        <h2>35 800</h2>
        <p>Associates</p>
      </div>

      <div class="stat-container">
        <h2>$136 bn.</h2>
        <p>Consilidated sales</p>
      </div>
    </div>
    <div class="divider"></div>
  </section>

  <section class="leadership">
    <h2>Leadership</h2>
    <div class="leaders-wrapper">
      <article class="leader">
        <img src="../../../assets/company/hollister.jpg" alt="Bertram Hollister">
        <div class="description">
          <h3>Bertram Hollister</h3>
          <p>CEO and CFO</p>
          <p>As CEO, Bertram presides over Cyber Dynamic Systems and its respective divisions. Under his leadership, the
            company has grown from under $100 bn. in revenue to almost twice its size with more than 35 000 employees
            and has acquired over 70 companies.
          </p>
        </div>
      </article>

      <article class="leader">
        <img src="../../../assets/company/dyson.jpg" alt="Dr. Miles Dyson">
        <div class="description">
          <h3>Dr. Miles Dyson</h3>
          <p>Cybernetics expert</p>
          <p>Dr. Miles Dyson is an expert in cybernetics at Cyberdyne Systems as the Director of Special
            Projects. He is the man most directly responsible for the creation of Skynet. Founder of Genisys.
            MIT graduate, married and has a son.
        </div>
      </article>

      <article class="leader">
        <img src="../../../assets/company/kogan.jpg" alt="Dr. Serena Kogan">
        <div class="description">
          <h3>Dr. Serena Kogan</h3>
          <p>Head of Biological Studies</p>
          <p>Dr. Serena Kogan is a geneticist and head of Biological Studies. Inventor of the Hybrid Human technology.
            Leader of Project Angel - her research lead to the creation of the T-800, T-1000 and the TX models.
          </p>
        </div>
      </article>

      <article class="leader">
        <img src="../../../assets/company/duncan.jpg" alt="Kimberley Duncan">
        <div class="description">
          <h3>Kimberley Duncan</h3>
          <p>Community Relations</p>
          <p>Kimberlyn Duncan is the Director of Community Relations and Media Control at Cyberdyne. She is the daughter
            of Antonne Jr. and Schrylean Duncan. She has one younger sister named Kiersten. Graduated from Brigham young
            university and has Bachelor’s Degree in Marketing. Exhibits professionalism, professional attire and
            demeanor at all times. Go-to person.
          </p>
        </div>
      </article>
    </div>
  </section>
</div>
