<app-background></app-background>
<div class="content">
  <ng-container *ngIf="currentModels.length>0">
    <h2>Current series</h2>
    <section class="models-lineup">
      <article *ngFor="let model of currentModels">
        <img src="{{model.image}}" alt="picture of {{model.name}}">
        <div class="text">
          <h3>{{model.name}}</h3>
          <a routerLink="{{model.route}}">More</a>
        </div>
      </article>
    </section>
  </ng-container>

  <ng-container *ngIf="deprecatedModels.length>0">
    <h2>Deprecated series</h2>
    <section class="models-lineup">
      <article *ngFor="let model of deprecatedModels">
        <img class="deprecated" src="{{model.image}}" alt="picture of {{model.name}}">
        <div class="text">
          <h3>{{model.name}}</h3>
          <a routerLink="{{model.route}}">More</a>
        </div>
      </article>
    </section>
  </ng-container>
</div>
