<div id="content">
  <div>
  <h2>My orders</h2>
  <table>
    <thead>
      <tr>
        <th>Order no.</th>
        <th>Received on</th>
        <th>Part no.</th>
        <th>Description</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>26112022-0001</td>
      <td>26-Nov-2022</td>
      <td>T800-0001</td>
      <td>T800 head w/o CPU</td>
      <td>
        <p>Received</p>
        <a routerLink="/support/order-details/1">View details</a>
      </td>
    </tr>
    <tr>
      <td>26112022-0001</td>
      <td>26-Nov-2022</td>
      <td>T800-0001</td>
      <td>T800 head w/o CPU</td>
      <td>
        <p>Received</p>
        <a routerLink="/support/order-details/2">View details</a>
      </td>
    </tr>
    </tbody>
  </table>
  </div>

  <div>
  <h2>My support requests</h2>
  <table>
    <thead>
      <tr>
        <th>Request no.</th>
        <th>Received on</th>
        <th>Unit model</th>
        <th>Unit serial no.</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>26112022-0001</td>
      <td>26-Nov-2022</td>
      <td>T800</td>
      <td>ABCDE-012345-XXSER</td>
      <td>
        <p>Complete</p>
        <a routerLink="/support/support-details/1">View details</a>
      </td>
    </tr>

    </tbody>
  </table>
  </div>
</div>
