<app-background></app-background>
<div id="content">
  <h2>Value added reseller</h2>
  <img src="assets/company/gallagher.jpg" alt="Tom Gallagher">
  <h3>Tom Gallagher</h3>

  <div>
    <p>Working hours:</p>
    <p>Mon-Sat 07:00 to 19:00</p>
    <p>Email:</p>
    <p>t.gallagher.var@cyberdyne.com</p>
    <p>Phone:</p>
    <p>00359 886 123 456</p>
  </div>

  <div class="emergency-wrapper">
  <p>If you are having an <strong>emergency</strong>, call
    <strong>310-500-0911</strong></p>
  </div>
</div>
